.head {
  background-color: #253D5B;
}

.sortingAlgs {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selected {
  background: whitesmoke !important;
}

.button {
  color: #303633;
  background: lightblue;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.15s;
}
.button:hover {
  background: whitesmoke;
}

.speed-inputs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.speed-inputs input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.menuHead {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuHead h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0.5rem 0;
}
.menuHead .menuBtn {
  transition: all 0.15s;
}
.menuHead .menuBtn:hover {
  transform: scale(1.1);
}

.algs-category {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

.algs-category-title {
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.inner-algs-category {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.stop-button {
  background: #F0DFAD;
}

@media screen and (max-width: 1024px) {
  .sortingAlgs {
    flex-direction: column;
    gap: 0;
  }
  .sortingAlgs hr {
    width: 100px;
  }
}
.color0 {
  background: lightgreen;
}

.color1 {
  background: rebeccapurple;
}

.color2 {
  background: deepskyblue;
}

.color3 {
  background: cadetblue;
}

.color4 {
  background: yellow;
}

.color5 {
  background: indianred;
}

.color6 {
  background: darkorange;
}

.color7 {
  background: deeppink;
}

.color8 {
  background: hotpink;
}

.color9 {
  background: sandybrown;
}

.color10 {
  background: palevioletred;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #F0DFAD;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

a {
  color: inherit;
}

.wrapper {
  width: 80%;
  margin: auto;
}

button, input {
  border: none;
  font-family: "Montserrat", sans-serif;
}

.svg-icon {
  width: 30px;
}

.outline {
  border: 5px solid black !important;
}

.chosenCandidate {
  background: lightcyan;
}
.chosenCandidate:hover {
  z-index: 1;
  color: black;
}
.chosenCandidate::before {
  content: "";
  background: white;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
.chosenCandidate:hover::before {
  z-index: -1;
  width: 100%;
  transition: all 0.3s;
}

.noDisplay {
  display: none;
}

.placeholder-icon {
  width: 300px;
}

.placeholder-title {
  font-weight: 300;
  color: #303633;
}

#area {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-height: 600px;
  overflow-y: hidden;
}

footer {
  background: #253D5B;
}
footer .wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.info {
  padding: 0.7em;
  border: 1px solid black;
  max-width: 500px;
}

.errAlgo, .errNums {
  display: none;
  background: crimson;
  border-radius: 0.5rem;
  padding: 1rem;
}

.errAlgoVisible, .errNumsVisible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
}

.blur {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.error-description {
  font-weight: 200;
}

.error-line {
  width: 100px;
  border-color: #F0DFAD;
}

.error-modal {
  z-index: 1001;
  text-align: justify;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-modal .button {
  background-color: #F0DFAD;
}
.error-modal .button:hover {
  background-color: lightblue;
}

@keyframes shake {
  0% {
    transform: translateX(10%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
